<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1Ijoid29sZnlpeSIsImEiOiJjaXozYmFuMDgwMDF6MzNvZDF5YWd0cHdlIn0.cSVLCz_CUzROLkRjb1TI9g</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb254076835009445</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>254076835009445</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Youmee a besoin de savoir votre localisation en direct </string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>Youmee</string>
	<key>NSLocationAlwaysUsageDes</key>
	<string>Youmee a besoin de savoir votre localisation en direct </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Veuillez autoriser les services de localisation dans les réglages de votre iPhone</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
